
{% load static%}

    <!--Navbar--> 
    <nav  style="font-family: Nunito; background-color: rgb(0, 0, 0);" class="navbar navbar-expand-sm  content " >

      <!-- Navbar brand -->
      <div class="award">
            <a class="nav-link text-dark" href="/">
              <h1 style="color:rgb(158, 155, 110)"><img style="height: 22px; width: 22px; filter: invert(148%) sepia(193%) saturate(107%) hue-rotate(130deg) brightness(65%) contrast(10%);" src="https://image.flaticon.com/icons/png/512/49/49824.png" alt=""> Awards</h1>
              <span class="sr-only">(current)</span>
            </a>
      </div>
      <!-- Collapse button -->

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto text-white">
          {% if user.is_authenticated %}
          <!-- Dropdown -->
            <li class="nav-item ml-2 ">
              <a style="color:rgb(255, 254, 198)" class="nav-link" href="{% url 'newproject' %}"><h5>ADD PROJECT</h5></a>
            </li>
          </div>
          {% else %}
          <div class="btn btn-dark btn-sm">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}"><h5>Log in</h5></a>
            </li>
          </div>
          <div class="btn btn-dark btn-sm">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'register' %}"><h5>Sign Up</h5></a>
            </li>
          </div>
          {% endif %}
        </ul>
        <!-- Links -->
       

      <ul  class="navbar-nav">
        <div style="margin-right: 33px;"> 
          <form class="form-inline" action="{% url 'search' %}">
            <div class="md-form my-0">
              <input style="font-size: 12px; color:rgb(255, 254, 198)" class="form-control mr-sm-2 text-white" type="text" placeholder="Search" aria-label="Search" name="post">
            </div>
          </form>
        </div>
      </ul>
      <div class="">
        <li class="nav-item dropdown ml-2 ">
          <a style="font-size: 15px; color:rgb(255, 254, 198)" class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Account</a>
          <div style="color:rgb(255, 254, 198)"  class="dropdown-menu dropdown-primary text-dark" aria-labelledby="navbarDropdownMenuLink">
            <a style="font-size: 12px;" class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a style="font-size: 12px;" class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </div>
      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->